@import "../../global.scss";

.works {
	background-color: black;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	color: white;

  h3 {
    @include mobile {
      height: 80px
    }
  }

	// @include mobile{
	//   // justify-content: baseline;
	//   align-items:flex-start;
	// }

	.container {
		display: flex;
		align-items: center;
		justify-content: center;
		// margin: auto;
		width: 100%;

		@include mobile {
			// flex-wrap: wrap;
			flex-direction: column;
			align-items: center;
			justify-content: center;
		}
		.item {
			display: flex;
			width: 500px;
			height: 480px;
			overflow: hidden;
			// margin: 10px;
			padding: 10px;

			@include mobile {
				justify-content: center;
				width: 100%;
				height: auto;
			}

			img {
				border-radius: 20px;
			}
		}
	}
}
