@import "../../global.scss";

.works {
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;

  @include mobile{
    // justify-content: baseline;
    align-items:flex-start;
  }

  h1 {
    font-size: 50px;

    @include mobile{
      font-size: 30px;
      margin: 20px;
      padding: 30px;
      text-overflow: none;
      overflow-y: hidden;
    }
  }
  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    width: 100%;

    @include mobile{
      flex-wrap: wrap;
    }
    .item {
      display: flex;
      width: 500px;
      height: 480px;
      overflow: hidden;
      // margin: 10px;
      padding: 10px;

      img {
        border-radius: 20px;
      }
    }
  }
}
