$mainColor: #15023a;

$width: 768px;
// $width_tablet: 1280px; 
$width_tablet: 1200px; 

@mixin mobile {
@media(max-width: #{$width}){
        @content
    }
}

@mixin tablet {
    @media(max-width: #{$width_tablet}){
            @content
        }
    }

