@import "../../global.scss";

.aboutme {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;

  // justify-content: center;

  h1 {
   margin-bottom: 30px;
  }

  .slider {
    height: 470px;
    // width: 90%;
    display: flex;
    margin: 30px;
    // position: absolute;
    // left: 0;
    overflow: hidden;

    @include mobile {
      height: 350px;
    }


    .container {
      // width: 100vh;
      display: flex;
      align-items: center;
      justify-content: center;
      overflow: hidden;

      .item {
        // width: 800px;
        height: 100%;
        background-color: white;
        border-radius: 20px;
        display: flex;
        align-items: center;
        justify-content: center;

        @include mobile {
          width: 300px;
        }

        .left {
          flex: 6;
          height: 100%;
          background-color: #F2B705;
          display: flex;
          align-items: center;
          justify-content: center;
          overflow: hidden;
        }
        .right {
          flex: 6;
          height: 100%;
          background-color: #f1f0f0ce;
          overflow: hidden;

          display: flex;
          flex-direction: column;
          align-items: center;
          padding: 20px;

          h2 {
            font-size: 25px;
            padding: 10px;
            margin: 10px;
            color: #15023a;
            overflow: hidden;

            @include mobile {
              font-size: 10px;
              margin: 1px;
              padding: 1px;
            }

            @include tablet {
              font-size: 15px;
              margin: 1px;
              padding: 2px;
            }
          }

          ul {
            overflow: hidden;
            li {
              font-size: 25px;
              padding: 8px;
              margin: 4px;
              overflow: hidden;

              @include mobile {
                font-size: 10px;
                // padding: 1px;
              }
            }
          }

          button {
            background-color: #F29F05;
            color: white;
            width: 200px;
            height: 80px;
            border-radius: 20px;
            font-size: 20px;
            font-weight: 600;
            margin: 5px;
            overflow: hidden;
            border: none;
            box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
          }

          @include mobile {
            button {
              width: 100px;
              height: 30px;
              font-size: 8px;
              overflow-y: hidden;
            }
          }

          button:hover {
            background-color: #F2B705;
            
          }
        }
      }
    }
  }
}
